.container {
    border: 2px dashed gray;
    width: 460px;
    height: 260px;
}
.container .child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#btn-green {
    width: 90px;
    height: 100px;
    background-color: #279e00;
    border: 2px solid black;
}
#btn-red {
    width: 90px;
    height: 100px;
    background-color: #ff1234;
    border: 2px solid black;
}
#btn-pur {
    width: 90px;
    height: 100px;
    background-color: #d682f0;
    border: 2px solid black;
}
